.movie {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}

.header--movie {
  width: 100%;
  height: 70px;
}

.content--movie {
  width: 100%;
  height: 100%;
}

.column--movie {
  width: 100%;
  height: 100%;
}

.column--movie:first-child {
  width: 40%;
}

.container_image--movie {
  width: 300px;
  height: auto;
}

.img--movie {
  width: 100%;
  height: auto;
}

.content__info--movie {
  width: 90%;
  height: 446px;
}

.first_info--movie {
  width: 100%;
  height: auto;
}

.title--movie {
  font-weight: 500;
}

.icon_vote--movie {
  width: 18px;
  height: 18px;
  color: gold;
}

.genres--movie {
  width: 100%;
  height: auto;
}

.container-related_movies--movie {
  width: auto;
  height: auto;
}

.title-related_movies--movie {
  font-weight: 600;
  color: #6441b1;
}

@media only screen and (max-width: 765px) {
  
  .movie {
    height: auto;
  }

  .content--movie {
    flex-direction: column;
    align-items: center;
  }

  .column--movie:first-child {
    width: auto;
    height: auto;
  }

  .content__info--movie {
    height: auto;
    margin-top: 20px;
  }

  .container_image--movie {
    width: 100%;
  }

}
